body {
    background-image: url("../Content/Imagens/logonavita-1.png"); /* The image used */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: 100%; /* Resize the background image to cover the entire container */
    width: 400px;
    height: 200px;
    background-attachment:fixed ;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
